.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

*.apk
*.ap_
*.log
*.dex
*.class
bin/
grn/
proguard/
assets/crashlytics-build.properties
res/values/com_crashlytics_export_strings.xml

app/src/main/assets/crashlytics-build.properties

app/manifest-merger-release-report.txt
